/* styles.css */
html, body {
    height: 100%; /* Assure que les éléments html et body aient une hauteur complète */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut */
    display: flex; /* Utilise flexbox */
    flex-direction: column; /* Les éléments s'alignent verticalement */
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh; /* Hauteur minimale du corps à la hauteur du viewport */
    background-image: url('images/background.webp'); /* Ajoute ton image de fond ici */
    background-size: cover; /* Assure que l'image de fond couvre tout l'écran */
    background-position: center; /* Centre l'image de fond */
    background-attachment: fixed; /* Fixe l'image de fond lors du défilement */
    display: flex; /* Ajout de flex pour permettre le centrage vertical */
    justify-content: flex-start; /* Commence le contenu en haut du body */
    align-items: center; /* Centre horizontalement le contenu dans le body */
}

header {
    width: 100%; /* Largeur complète */
    text-align: center; /* Texte centré */
    padding: 5px 0; /* Padding vertical */
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec transparence */
    font-size: 36px;
    color: #023047;
}

.spacer {
    padding: 10px;
}

.content-wrapper {
    width: 100%; /* Permet à la wrapper de prendre toute la largeur */
    display: flex; /* Utilise flexbox à l'intérieur du wrapper */
    justify-content: center; /* Centre le contenu horizontalement dans le wrapper */
    align-items: center; /* Centre le contenu verticalement dans le wrapper */
    flex-direction: column; /* Alignement vertical des éléments à l'intérieur du wrapper */
    flex: 1; /* Permet au wrapper de grandir pour occuper tout l'espace disponible */
    margin-top: 50px; /* Ajoute un espace entre le header et la content-box */
}

footer {
    width: 100%; /* Largeur complète */
    text-align: center; /* Texte centré */
    padding: 20px 0; /* Padding vertical */
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec transparence */
    margin-top: auto; /* Pousse le footer vers le bas */
}

.content-box {
    width: 100%; /* Contrôle de la largeur de la boîte de contenu */
    max-width: 960px; /* Largeur maximale */
    background-color: rgba(255, 255, 255, 0.6); /* Fond légèrement transparent */
    border-radius: 8px; /* Bordures arrondies */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée */
    font-size: 18px; /* Taille de police plus grande pour une meilleure lisibilité */
    padding: 20px; /* Ajout de padding interne pour le contenu */
}


.button-container {
    text-align: center; /* Centers the button horizontally */
    padding: 20px; /* Adds some spacing around the button */
}

.call-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #219EBC;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.call-button:hover {
    background-color: #023047;
    cursor: pointer;
}
